.banner {
  display: flex;
  background-color: #d8fad9;
  padding: 2em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.bannerText {
  /* font-size: 2rem; */
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: #595858;
  max-width: 1200px;
  text-align: center;
}
