.banner {
  display: flex;
  background-color: #caf3cb;
  padding: 2em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.bannerText {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  font-weight: normal;
  color: #595858;
  max-width: 1200px;
  text-align: center;
}
