.features {
  display: flex;
  flex-direction: column; /* Stack rows vertically */
  gap: 3rem; /* Add spacing between rows */
  margin: 0 auto;
  max-width: 1200px;
  padding: 3rem;
}

.featureRow {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically align left and right sides */
}

.leftSide {
  flex: 1; /* Allow left side to take up equal space */
  text-align: left;
  max-width: 500px;
}

.rightSide {
  flex: 0; /* Keep the right side content compact */
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.subText {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

.icon {
  font-size: 12rem; /* Adjust icon size as needed */
}
