.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  margin-left: 3rem;
  /* margin-right: 2rem; */

  margin: 0 auto;
  width: 100vw;
  background-color: #e6e6e6;
}

.leftSide {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.titleText {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.subText {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: normal;
}
