.banner {
  display: flex;
  background: linear-gradient(135deg, #d8fad9 0%, #a3e4a5 100%);
  padding: 2em;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.bannerText {
  margin-bottom: 1.5rem;
  font-weight: 200;
  color: #595858;
  max-width: 1200px;
  text-align: center;
}
