.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin: 0 auto;
  max-width: 1200px;
}

.leftSide {
  flex: 1;
  text-align: left;
  padding-right: 2rem;
}

.rightSide {
  flex: 1;
  display: flex;
  justify-content: center;
}

.welcomeText {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.subText {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-weight: 200;
}

.getStartedButton {
  padding: 0.75rem 0.75rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
}
.getStartedButton:hover {
  background-color: #45a049;
}

.heroImage {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
